---
layout: default
---

{% if page.related %}
  {% assign page_id = "sprflt" %}
  {% assign page_class = "left-column" %}
{% else %}
  {% assign page_id = "noflt" %}
  {% assign page_class = "single-column" %}
{% endif %}
<div class="row" id="{{ page_id }}" class="{{ page_class }}">
  <div class="main-content" id="main" role="main">

    <h1 class="page-title" id="title">{{ page.title }}</h1>

    {% if page.banner %}
    <div class="banners bannerBox" id="bannerBox">
      <img alt="{{ page.banner.text }}" id="banner" src="{{ page.banner.url | relative_url }}">
      {% if page.image.description %}
      <p class="caption">{{ page.banner.description }}</p>
      {% endif %}
    </div>
    {% endif %}

    <div class="content contentBox">
      {{ content }}
    </div>

  </div>

  {% if page.related %}
    <div class="sidebar" id="subNav" role="navigation">

    <ul class="navlist">
    {% assign links = site.pages | sort: "order" %}
    {% for l in links %}
      {% if l.menu %}
        {% if l.url == page.url %}
          <li><a class="current" href="{{ l.url | relative_url }}">{{ l.title }}</a></li>
        {% else %}
          <li><a href="{{ l.url | relative_url }}">{{ l.title }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>

    </div>
  {% endif %}

</div>
